body{
	font-family: 'Raleway', sans-serif;
	margin:0;
}
hr{
	background-color: #8C8C8C;
	width:1000px;
	margin: 100px auto;
}
.row{
	display: flex;
	width:100%;
}
/* TOP NAVBAR*/
.top-navbar{
	width:100%;
	background-color:  #F2F5F8;
	color:#8C8C8C;
}
.top-navbar-container{
	width:1000px;
	background-color: #F2F5F8;
	margin: 0 auto;
	padding:15px;
}
.top-navbar > div{
	display: flex;
}
.socials-list{
		margin-top: -4px;
}
.socials-list li{
	margin-right: auto !important;
	display: inline;
	font-size: 0.714em;
}
.sub-item{
	color:#8C8C8C !important;
}
.log-box{
	margin-left: auto;
	font-size: 0.714em;
}

.text{
	font-weight: 200;
	font-family: 'Cantarell',sans-serif;
	font-size: 0.714em;
}	




.container{
	width: 1000px;
	background-color: #fff;
	margin: 0 auto;
	display: flex;
	padding-top:50px;
}
*{
	box-sizing: border-box;
}
img{
	width:100%;
}
.box1{
	margin: 0 auto;
}

.img-box{
	padding:15px;
}
.post-text{
	padding:0px 15px;
	width: 100%;
	font-size: 15px;
	font-family: 'Cantarell',sans-serif;
}
h3{
	padding:0px 15px;
}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}
#more6 {display: none;}
#more7 {display: none;}
#more8 {display: none;}
#more9 {display: none;}
#more10 {display: none;}

.all-posts{
	width:700px;
	float:left;

}


/*MASTER CONTAINER*/

/* RIGHT SIDEBAR */






.right-sidebar{
	width:300px;
	float: right; 
	color: #3F2803;
	padding: 2em 2.8571em;
	font-family: 'Cantarell',sans-serif;
}

.mybtn{
	text-transform: uppercase;
	color:#fff;
	font-size:13px;
	text-decoration: none;
	background-color: #80B500;
	padding:15px;
	font-family: 'Raleway',sans-serif;
	border-radius: 10px;
}
.widget-area .widget-title {	
    margin-top: 0px;
    margin-bottom: 1.2em;
    font-family: 'Cantarell',sans-serif;
}
ul{
	margin:0px;
}
ul > li{
	list-style: none;
	margin-bottom: 0.5em;
	font-size: 14px;
	font-family: 'Cantarell',sans-serif;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	cursor: pointer;
}
.border-left{
	border-left: 1px solid #dddddd;

}
.widget-area2{
	margin-top: 50px;
	border-top: 1px solid #dddddd;
}
select{
    margin-top: 0.7em;
    padding: 1.3em 0.65em 1.3em 1.2em;
    font-style: normal;
    background: url(images/arrow-down.png) no-repeat 92% center #fff;
	width:100%;
	padding: 0.65em 1.1em;
    font-size: 0.8em;
    font-weight: 400;
    color: #8C8C8C;
    background-color: #F2F5F8;
    border-style: none;
    font-family: 'Cantarell',sans-serif;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.widget-area3 .widget-title {	
    margin-bottom: 1.2em;
    font-family: 'Cantarell',sans-serif;
}
.widget-area3{
	margin-top: 50px;
	border-top: 1px solid #dddddd;
}
.widgetx-title{
	margin-bottom: 1.2em;
	font-size:25px;
    font-family: 'Cantarell',sans-serif;
}

/*ABOVE POSTS*/

.full-cont{
	width:100%;
	background-color: #F0F0F0;
	margin:0 auto;

}
.container-fullhor{
	width:1000px;
	background-color: #F0F0F0;
  	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	display:flex;

}

.bigheader{
	margin:0 ;
	padding: 0.7571em 0;	
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 3.42em;
	color:#3F2803;
}
.container-fullhor .breadcrumbs{
	padding: 3.5em 0 1em 2.5em;
	margin-left:auto;
}
.breadcrumbs-slash{
	color: #acb4b6;
}
.breadcrumbs_item{
	font-size: 12.25px;
}
.current{
	color: #80B500;
}



.four-seg-container{
	width:1000px;
	margin: 0 auto;
	margin-top : 100px;
	color:#3F2803;
}
.title{
	margin-bottom: 1.2em;
    font-family: 'Cantarell',sans-serif;
}
.row1{
	display: flex;
	width:100%;
}

.seg-1, .seg-2, .seg-3, .seg-4{
	float: left;
	width:25%;
}
.four-seg-container p{
	padding: 0px 15px;
	font-size:14px;
	line-height:1.5;
}
.seg-2 img{
	width: 75px;
	height:75px;
	float: left;
}
.recent-part1, .recent-part2{
	width: 100%;
	display: flex;
	padding:10px;
}
 .recent-part1 span{
 	margin-left:12px;
 }
  .recent-part2 span{
 	margin-left:12px;
 }

 .tag-btns{
 	background-color: #F2F5F8;
 	font-size: 12px;
 	padding:6px 10px;
 	border-radius: 5px;
 }
 .seg-3 a{
 	display: block;
 	float: left;
 	margin: 0px 5px 5px 0px;
 }
 .seg-3 p{
 	padding: 10px;
 }
.seg-4 a{
	margin:5px 0px;
}
a:hover{
 		background-color: #3F2803 !important;
 	}

/* FOOTER */
.foot-head{
    font-family: Raleway;
    font-size: 1.714em;
    font-weight: 700;
    line-height: 1.250em;
    padding-top: 20px;

}
footer > center{
	margin-top: 20px;
}


#topmyBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #80B500;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topmyBtn:hover {
  background-color: #3F2803;
}





@media(max-width:767px){
	img{
		width:100%;
	}
	.row{
		flex-direction: column;
	}
	.right-sidebar{
		width: 100%;	
	}
	.all-posts{
		justify-content: center;
		width:80%;
		margin:0 auto;
	}
	.widget-area-row{
		justify-content: center !important;
		width:100%;
		display:flex;
		flex-direction: row;
	}
	.widget-area, .widget-area2, .widget-area3{
		width:33%;
	}
	.widget-area{
		margin-top: 50px;
		border-top: 1px solid #dddddd;
	}
	.widget-area .widget-title{
		margin-top: 25px;
	}
	select{
		width:60%;
	}

	/*NAVBAR TEXT*/
	.text{
		font-size: 1.15em;
	}
	.bigheader{
		font-size: 4.25em;
	}
	/*POST TEXT*/
	.widgetx-title{
		font-size: 60px; 
	}
	.post-text{
		font-size: 25px
	}



	/*RIGHT SIDEBAR*/
	.widget-title{
		font-size: 1.6em;
	}
	ul > li{
		font-size: 25px;
	}
	select{
		font-size: 1.5em;
		width:85%;
		margin-left: 10px;
	}

	/*FOUR SEG CONTAINER */
	.four-seg-container{
		justify-content: center;
	}
	.row1{
	display: inline;
	justify-content: center;
	width:100%;
}
	.seg-1, .seg-2, .seg-3, .seg-4{
	width:50%;
}
	.four-seg-container p{
		margin-left: 15px;
		padding: 0px 25px;
		font-size:24px;
		line-height:1.5;
	}
	.title{
		font-size: 1.8em;
		margin-left: 25px;
	}
	.tag-btns{
 	background-color: #F2F5F8;
 	font-size: 24px;
 	padding:8px 15px;
 	border-radius: 5px;
 	}
 	a:hover{
 		background-color: #3F2803 !important;
 	}


}